@import "/src/assets/styles/_mixin.scss";


.listWrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  max-width: 1400px;

  .list {
    display: flex;
    position: relative;
    background: var(--note-bg);
    background-size: 1px 22px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #C4C296;
    color: var(--note-color);
    transition: ease 0.2s;

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      gap: 16px;
      padding: 20px 20px 20px 40px;

      h3 {
        @include ellipsis(2);
      }

      p {
        @include ellipsis(3);
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: var(--accent-color);
    }
    &::before {
      left: 1.5em;
    }

    &::after {
      left: 1em;
    }

    &:hover {
      transform: scale(1.04);
    }

    .timeStamp {
      display: flex;
      justify-content: end;
      margin-top: 20px;
      font-size: 14px;
      color: var(--accent-color);
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 1200px) {
  .listWrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .listWrap {
    grid-template-columns: repeat(1, 1fr);
  }
}