.wrap {
  &::before {
    margin-right: 1rem;
    min-width: 26px;
    color: grey;
    content: counter(line);
    counter-increment: line;
  }

  .htmlTag {
    color: var(--tagname-text-color);
    
    &::before,
    &::after {
      display: inline-block;
      color: #fff;
    }

    &::before {
      content: "<";
      margin-right: 2px;
    }
    &::after {
      content: ">";
      margin-left: 2px;
    }

    .attribute {
      color: var(--attributename-text-color);
    }

    .equalSign,
    .tagClose {
      color: #fff;
    }

    .equalSign {
      margin: 0 2px 0 3px;
    }

    .content {
      color: var(--attributevalue-text-color);
    }
  }

  .normal {
    color: #fff;
  }

  .socials {
    color: var(--tagname-text-color);
  }

  .indent {
    &-2 {
      margin-left: 24px;
    }
    &-4 {
      margin-left: 48px;
    }
    &-6 {
      margin-left: 72px;
    }
  }

  span {
    em, a {
      font-style: normal;
      color: var(--attributevalue-text-color);
  
      &::before,
      &::after {
        display: inline-block;
        color: #fff;
      }
  
      &::before {
        content: ":";
        margin-right: 6px;
      }
  
      &::after {
        content: ";";
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrap {
    &::before {
      min-width: 16px;
    }

    .indent {
      &-2 {
        margin-left: 12px;
      }
      &-4 {
        margin-left: 24px;
      }
      &-6 {
        margin-left: 36px;
      }
    }
  }
}
