.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .dim {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding: 60px 40px;
    background-color: #fff;
    color:rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }

  .description {
    color:rgba(0, 0, 0, 0.5);
  }

  .closeButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 46px;
    
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
