$max-height-transition: max-height 0.3s ease-in-out;

.wrap {
  width: 172px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e1e4e8;
  background-color: var(--explorer-bg);
  border-right: 1px solid var(--explorer-border);

  .title {
    padding: 7px 14px;
    font-size: 12px;
    font-weight: 300;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 0;
    overflow: hidden;
    transition: $max-height-transition;

    &.accordion {
      max-height: 100%;
      transition: $max-height-transition;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 2px 8px;
      font-size: 14px;
      font-weight: 300;
      background-color: transparent;
      border: none !important;

      &:hover {
        background-color: var(--explorer-hover-bg);
      }
    }
  }
  
}

@media screen and (max-width: 600px) {
  .wrap {
    display: none;
  }
}