$transition: 0.1s ease-in-out;

.toggleButton {
  position: relative;
  padding: 4px 14px;
  margin-bottom: 2px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 12px;

  &.active::before {
    transform: translateY(-62%) rotate(225deg); 
    transition: $transition;
  }

  &::before {
    opacity: .7;
    display: block;
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    width: 6px;
    height: 6px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: translateY(-50%) rotate(135deg);
    transition: $transition;
  }
}