@use "/src/assets/styles/font.scss" as *;

.layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 30px - 25px);
  background-color: var(--main-bg);
  header h1 {
    span {
      font-family: 'JetBrains Mono', sans-serif;
      
    }
  }
}