// @mixin font-face($name, $file, $weight: normal, $style: normal) {
//   @font-face {
//     font-family: "#{$name}";
//     src: local("#{$name}"), 
//         url('/src/static/fonts/#{$file}.woff2') format('woff2'),
//         url('/src/static/fonts/#{$file}.woff') format('woff'),
//         url('/src/static/fonts/#{$file}.ttf') format('truetype'),
//         url('/src/static/fonts/#{$file}.otf') format("opentype"),
//         url('/src/static/fonts/#{$file}.eot') format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
//   }
// }

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono'),
        url('/src/static/fonts/JetBrainsMono-Regular.woff2') format('woff2'), 
        url('/src/static/fonts/JetBrainsMono-Regular.woff') format('woff'),
        url('/src/static/fonts/JetBrainsMono-Regular.ttf') format('truetype'),
        url("/src/static/fonts/JetBrainsMono-Regular.otf") format("opentype"),
        url('/src/static/fonts/JetBrainsMono-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}