.home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .icon_vscode {
      fill: var(--explorer-bg);
      width: 25vw;
      min-width: 200px;
    }
    header {
      h1 {
        display: flex;
        margin: 0 auto; 
        white-space: nowrap;
        color: inherit;

        span {
          display: flex;
          justify-content: center;
          width: 100%;
          &::after {
            display: flex;
            content: "";
            width: 10px;
            height:48px;
            border-right: .15em solid var(--accent-color);     
            animation: typing .75s step-end infinite;
          }
        }
      }
    
      p {
        font-size: 1.5rem;
        color: inherit;
        text-align: center;
        margin: 1em 0;
      }
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}

@keyframes typing {
  from, to { border-color: transparent }
  50% { border-color: var(--accent-color); }
}

@media screen and (max-width: 800px) {
  .container .title h1 {
    font-size: 1.5rem !important;
  }
  .container p {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 800px) {
  .title h1 {
    font-size: 1rem !important;
  }
}